
.cart-button{
    width: 170px;
    min-height: 50px;
    display: inline-block;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    word-break: break-all;
    text-transform: uppercase;
    border-bottom: 3px solid #736357;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
    background-color: #998675;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    font-weight: bold;
  
}
.cart-button:hover {
    box-shadow: inset 0 -60px 0 white, 2px 2px 3px rgba(0, 0, 0, 0.3);
   color:#998675;
}